@import "../global.scss";
.game-container {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  @include mobile {
    height: 86vh;
  }
  .twoboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    @include mobile {
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    .board-list {
      display: flex;
      flex-direction: column;
    }
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
  }
}
