@import "../global.scss";
.game-board {
  display: grid;
  grid-template-columns: repeat(10, 2fr);
  border: 6px solid darkslategrey;
  cursor: pointer;

  .aishiphit {
    @include grid-square;
    background-color: red;
    @include mobile {
      width: 17px;
      height: 17px;
    }
  }
  .aiopenwater {
    @include grid-square;
    background-color: blue;
    @include mobile {
      width: 17px;
      height: 17px;
      background-color: #053fa1e1;
    }
  }
  .aimiss {
    @include grid-square;
    background-color: #053fa1e1;
    @include mobile {
      width: 17px;
      height: 17px;
      background-color: #053fa1e1;
    }
  }
  .hidden {
    @include grid-square;
    background-color: black;
    @include mobile {
      width: 17px;
      height: 17px;
    }
  }
}
