@import "../global.scss";

.ship-container {
  display: flex;
  width: 20%;
  margin-top: 20px;
  justify-content: space-between;
  .ship {
    @include grid-square;
    background-color: grey;
  }
  .shiphit {
    @include grid-square;
    background-color: red;
  }
}
