.header {
  font-family: army;
  font-size: 300%;
  text-align: center;
  background: rgb(104, 102, 102);
  text-shadow: 1px, black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
