@import "../global.scss";

.header {
  display: flex;
  padding-top: 20px;
  width: 100%;
  height: 16vh;
  font-family: army;
  font-size: 400%;
  text-align: center;
  background: rgb(104, 102, 102);
  text-shadow: 1px, black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  justify-content: space-around;
  align-items: center;
  @include mobile {
    display: flex;
    font-size: 180%;
    height: 8vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
  }
}
