@import "../global.scss";

.legend-container {
  display: flex;

  flex-direction: column;
  width: 30%;
  background-color: #75777ae1;
  height: 280px;
  width: 280px;
  margin-bottom: 50px;
  font-family: army;
  justify-content: space-evenly;
  padding: 12px;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;

  .sqaure-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
    .ship {
      @include grid-square;
      background-color: grey;
    }
    .shiphit {
      @include grid-square;
      background-color: rgb(233, 22, 22);
    }
    .openwater {
      @include grid-square;
      background-color: rgb(233, 22, 22);
    }
    .miss {
      @include grid-square;
      background-color: rgb(233, 22, 22);
    }

    h4 {
      margin-left: 50px;
      font-size: larger;
    }
  }

  .button-container {
    padding-bottom: 5px;
    .startbutton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 40px;

      font-family: army;
      background-color: rgb(29, 197, 7);

      h4 {
        margin-right: 20px;
      }
    }
  }
}
