.messageboard-container {
  background-color: #75777ae1;
  width: 300px;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: army;
  font-size: 150%;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;
  transition: all 2s ease;
}
