.messageboard-container {
  background-color: #75777ae1;
  width: 20%;
  height: 100%;
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-size: 150%;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;
}
