.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;

  &.active {
    display: none;
  }
  .start-btn {
    background-color: rgb(29, 197, 7);
    font-size: 150%;
    box-shadow: 0 0 9px #67ff9a;
    border: 1px solid #0ffd5e;
    font-family: army;
    padding: 3px;
    cursor: pointer;
  }

  .place-btn {
    background-color: rgb(251, 13, 5);
    font-size: 150%;
    box-shadow: 0 0 9px #67ff9a;
    border: 1px solid #0ffd5e;
    font-family: army;
    padding: 3px;
    cursor: pointer;
  }
}
