@import "../global.scss";

.ships-container {
  display: flex;
  width: 150px;
  height: 200px;
  justify-content: space-between;
  flex-direction: column;
  .ship-container {
    display: flex;
    .ship-square {
      @include grid-square;
      background-color: grey;
    }
    .shiphit {
      @include grid-square;
      background-color: red;
    }
  }
}
