.grid-container {
  display: flex;
  margin: auto;
  height: 500px;
  width: 500px;
  background-color: #d3d3d3;
}

#grid {
  margin: auto;
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(10), minmax(1px, auto) [col-start];
  grid-template-rows: repeat(10), minmax(1px, auto) [col-start];
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.start-btn {
  background-color: rgb(29, 197, 7);
  font-size: 150%;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;
  font-family: army;
}

.place-btn {
  background-color: rgb(251, 13, 5);
  font-size: 150%;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;
  font-family: army;
}
