@import "../global.scss";

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;

  .game-board {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    border: 6px solid darkslategrey;
    cursor: pointer;

    .ship-square {
      @include grid-square;
      background-color: grey;
    }
    .grid-square {
      @include grid-square;
      background-color: #053fa1e1;
    }
  }
}
