body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: rgba(200, 200, 200, 0.808);
}

.list-container {
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}
