@mixin grid-square {
  position: relative;
  box-shadow: 0 0 9px #67ff9a;
  border: 1px solid #0ffd5e;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #053fa1e1;
  overflow-y: hidden;
}
